
Testing.exe
Testing.cpp
tempCodeRunnerFile.cpp
dewhitee.vcxproj.user
dewhitee.vcxproj.filters
dewhitee.vcxproj
Debug/vc142.pdb
Debug/vc142.idb
Debug/Testing.obj
Debug/Event.obj
Debug/dewhitee.tlog/link.write.1.tlog
Debug/dewhitee.tlog/link.read.1.tlog
Debug/dewhitee.tlog/link.command.1.tlog
Debug/dewhitee.tlog/dewhitee.lastbuildstate
Debug/dewhitee.tlog/CL.write.1.tlog
Debug/dewhitee.tlog/CL.read.1.tlog
Debug/dewhitee.tlog/CL.command.1.tlog
Debug/dewhitee.log
